/*body {
    text-decoration: underline;
    color:white;
}*/

p {
    color:deeppink;
    background-color:lavender;
    /*display: inline;*/
}
/*
.niezwykly /*   *.niezwykly  */           /*zmienia wszystko klasy niezwykly
{
    color:green;
}*/


p.niezwykly, b.niezwykly {
    color:green;
}

h1#nazwa1 {
    color:darkorange;
}

h1#nazwa2 {
    color:mediumvioletred;
}

span {
    background-color:lightseagreen;
    /* text-align: justify; span isn't block so doesn't work */
}

div {
    background-color: mediumseagreen;
    text-align: justify;
    width: 400px;
    text-indent: 20px;
}

div.menu_linki {
    background-color: mediumseagreen;
    text-align: justify;
    width: 200px;
}

div.menu_linki a:link, div.menu_linki a:visited {
    color:saddlebrown;
    text-decoration: none;
}

div.menu_linki a:hover, div.menu_linki a:active {
    color:black;
    background-color:white;
}

div.test {
    font-size: 30px;
    color:maroon;
    text-decoration: overline underline;
    text-transform: capitalize;
    text-align: center;
    line-height: 150%;
    text-indent: 0px;
    word-spacing: 1em;
    letter-spacing: 0.05em;
    /*white-space: nowrap;*/
    /*
        pt, em, px, %, in, cm, mm, etc.
    */
}