body {
    font-size: 16px;
    margin: 0px;
    padding: 0px;

    background-color: #D3D3D3;
    background-image: url('images/obrazek1.jpg');
    background-size: 100%;
    background-position: 50% 0%;
    background-attachment: scroll;
    background-repeat: repeat-y;
}

p {
    /*border-style: solid dashed;*/
    border-style: solid hidden solid dashed;
    color: deeppink;
    background-color: lavender;
    width: 50%;
    margin: 10px auto;
    position: relative;
    top: 0px;
    /*display: inline;*/
}
/*
.niezwykly /*   *.niezwykly  */           /*zmienia wszystko klasy niezwykly
{
    color:green;
}*/


p.niezwykly, b.niezwykly {
    color:green;
    width: auto;
    margin: 10px 25%;
}

h1#nazwa1 {
    color: darkorange;
    margin: 0% 5%;
    float: left;
}

h1#nazwa2 {
    color: mediumvioletred;
    margin: 0% 5%;
    float: right;
}

div {
    border-left-style: solid;
    border-width: thick;
    background-color: mediumseagreen;
    text-align: justify;
    width: auto;
    text-indent: 20px;
    padding: 4%;
    margin: 10px 25%;
}

div.square {
    position: absolute;
    right: 0px;
    width: 100%;
    height: 40px;
    padding: 0%;
    margin: 0%;
}

div.news {
    background-color: lightseagreen;
    width: auto;
    margin: 10px 25%;
    position: relative;
    /* text-align: justify; span isn't block so doesn't work */
}

span.date {
    position: absolute;
    right: 10px;
    top: 4px;
}

div.menu_linki {
    /*border-top-color: #2E2E2E;*/
    border-top-style: solid;
    background-color: mediumseagreen;
    text-align: justify;
    width: 200px;
    text-indent: 0px;
    padding: 10px;
    margin: 0% 0% 0% 2%;
    clear: left;
    position: fixed;
    top: 50px;
}

div.menu_linki a:link, div.menu_linki a:visited {
    color:saddlebrown;
    text-decoration: none;
}

div.menu_linki a:hover, div.menu_linki a:active {
    color:black;
    background-color:white;
}

div.test {
    font-size: 30px;
    color:maroon;
    padding: 4%;
    text-decoration: overline underline;
    text-transform: capitalize;
    text-align: justify;
    line-height: 150%;
    text-indent: 0px;
    word-spacing: 1em;
    letter-spacing: 0.05em;
    /*white-space: nowrap;*/
    /*
        pt, em, px, %, in, cm, mm, etc.
    */
}

div.test2 {
    font-size: 30px;
    color: white;
    padding: 4%;
    text-decoration: overline underline;
    text-transform: capitalize;
    text-align: justify;
    line-height: 150%;
    text-indent: 0px;
    word-spacing: 1em;
    letter-spacing: 0.05em;

    background-image: url('images/programowanie_kodowanie-1024x724.jpg');
    background-size: 100%;
    background-position: 50% 0%;
    background-attachment: scroll;
    background-repeat: repeat-y;
    /*white-space: nowrap;*/
    /*
    pt, em, px, %, in, cm, mm, etc.
*/
}

div.example {
    font-size: 100%;
    font-family: Verdana, Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-weight: bold;
    font-variant: small-caps;
    margin: 10px 25% 0px 25%;
}

div.example2 {
    border-top-style: dotted; /*dashed, dotted*/
    margin: 0px 25% 10px 25%;
}

table.table1 {
    width: 50%;
    align-content: center;
    height: 500px;
    border: 1px ridge deeppink;
    border-collapse: collapse;
    margin: 10px 25%;
}

table.table1 td {
    border: 1px ridge hotpink;
    padding: 4%;
    color:ghostwhite;
    text-align: left;
    vertical-align: top;
}

ul {
    color:deeppink;
    list-style-type: square;
    list-style-position: inside;
    margin: 10px 25%;
}

ol {
    color: deeppink;
    list-style-type: decimal-leading-zero;
    margin: 10px 25%;
}

.cursor_change {
    background-color: lightseagreen;
    cursor: pointer;
    margin: 10px 25%;
}

img {
    width: 50%;
    opacity: 0.5;
    filter: alpha(opacity = 50);
    margin: 10px 25%;
}