p
{
    color:deeppink;
    background-color:lavender;
    /*display: inline;*/
}
/*
.niezwykly /*   *.niezwykly  */           /*zmienia wszystko klasy niezwykly
{
    color:green;
}*/


p.niezwykly, b.niezwykly
{
    color:green;
}

h1#nazwa1
{
    color:darkorange;
}

h1#nazwa2 {
    color:mediumvioletred;
}

span {
    background-color:lightseagreen;
    /* text-align: justify; span isn't block so doesn't work */
}

div {
    background-color:mediumseagreen;
    text-align: justify;
    width: 400px;
}

div.menu_linki {
    background-color: mediumseagreen;
    text-align: justify;
    width: 200px;
}

div.menu_linki a:link, div.menu_linki a:visited {
    color:saddlebrown;
    text-decoration: none;
}

div.menu_linki a:hover, div.menu_linki a:active {
    color:black;
    background-color:white;
}